@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    color: #373737;
    line-height: 162%;
    font-family: 'Montserrat', sans-serif;

    >main {
        flex: 1 1 auto;
    }

    >* {
        min-width: 0;
    }
}

[class*='__container'] {
    margin: 0 auto;
    max-width: 1175px;
    padding: 0 15px;
    position: relative;
}

.header {

    // .header__container
    &__container {}

    // .header__nav
    &__nav {
        padding: 31px 0;
    }
}

.nav {

    // .nav__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .nav__item
    &__item {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #FF0000;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 2px;
            background: #FF0000;
            transition: all .3s;
        }

        &:hover:before {
            width: 100%;
        }

        &:active {
            color: #af0000;
        }
    }

    &__item:not(:last-child) {
        margin-right: 72px;
    }

    &__item:nth-last-child(2) {
        margin-right: 50px;
    }

    // .nav__link
    &__link {}
}

.main {
    background: rgba(0, 0, 0, 0.0001);

    // .main__container
    &__container {}

    // .main__pic
    &__pic {
        margin-bottom: 50px;
    }

    // .main__img
    &__img {
        width: 100%;
        height: auto
    }

    // .main__title
    &__title {
        margin-bottom: 38px;
    }

    // .main__text
    &__text {
        margin-bottom: 74px;
    }

    // .main__btn
    &__btn {
        text-align: center;
        margin-bottom: 42px;
    }
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
}

.btn {

    // .btn__link
    &__link {
        display: inline-block;
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #FFF;
        padding: 18px 43px;
        background-color: #FF0000;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all .5s;
    }

    &__link:hover {
        color: #FF0000;
        background-color: transparent;
        border: 1px solid #FF0000;
    }

    &__link:active {
        box-shadow: inset 0 0 20px #FF0000;
    }
}

.text {

    // .text__paragraph
    &__paragraph {
        letter-spacing: 2.4px;
        text-align: center;
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 31px;
    }
}

.footer {
    padding: 49px 0 38px;

    // .footer__container
    &__container {}

    // .footer__copyright
    &__copyright {
        text-align: right;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 2.4px;
        padding: 0 38px;
    }
}