@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #f5e106;
  font-size: 48px;
  background: #252525;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper__inner {
  -webkit-transform: perspective(300px) rotateX(20deg);
          transform: perspective(300px) rotateX(20deg);
}

.wrapper__text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 15px;
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  -webkit-animation: fly 30s linear infinite forwards;
          animation: fly 30s linear infinite forwards;
  line-height: 120%;
}

.text:not(:last-child) {
  margin-bottom: 40px;
}
.text--bold {
  font-weight: bold;
  text-align: center;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
  }
}