:root {
    --yellow: #feb60a;
    --red: #ff0062;
    --blue: #00dbf9;
    --violet: #da00f7;
}

body {
    background-color: #1a1940;
    color: #fff;
}

#find {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding: 0;
    border-radius: 1rem;
    border: none;
    overflow: hidden;
    animation: glow 1.5s linear infinite;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.yellow {
    background-color: var(--yellow);
    animation: bounce 1.5s linear infinite;
}

.red {
    background-color: var(--red);
    animation: bounce 1.5s 0.2s linear infinite;
}

.blue {
    background-color: var(--blue);
    animation: bounce 1.5s 0.4s linear infinite;
}

.violet {
    background-color: var(--violet);
    animation: bounce 1.5s 0.6s linear infinite;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: scale(1);
        filter: blur(0px);
    }

    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }

    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 15px #fff;
    }

    50% {
        box-shadow: 0px 0px 2px #fff;
    }

    100% {
        box-shadow: 0px 0px 15px #fff;
    }
}