@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@font-face {
  font-family: "Circe";
  src: url("../fonts/CirceRegular.woff2") format("woff2"), url("../fonts/CirceRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Bold.woff2") format("woff2"), url("../fonts/Gilam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Regular.woff2") format("woff2"), url("../fonts/Gilam-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-SemiBold.woff2") format("woff2"), url("../fonts/Gilam-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilam Book";
  src: url("../fonts/Gilam-Book.woff2") format("woff2"), url("../fonts/Gilam-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 140%;
  color: #fff;
  background: #171717;
  font-family: "Gilam", sans-serif;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1460px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 56%;
}
@media screen and (max-width: 1024px) {
  .title {
    line-height: 1;
  }
}
@media screen and (max-width: 769px) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  font-weight: 700;
  line-height: 140%;
}

.header {
  position: fixed;
  width: 100%;
  background: #171717;
  padding: 37px 0;
  z-index: 10;
  -webkit-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s;
}
.header.sticky {
  padding: 10px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__call {
  display: inline-block;
  position: relative;
  font-family: "Circe", sans-serif;
  font-size: 1.125rem;
  line-height: 167%;
  color: #E4B564;
  padding: 10px 25px;
  border: 1px solid #E4B564;
  background: transparent;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.header__call *:not(:last-child) {
  margin-right: 10px;
}
.header__call:hover {
  color: #fff;
  background: #E4B564;
}
.header__call:hover path {
  fill: #fff;
}
@media screen and (max-width: 500px) {
  .header__logo {
    max-width: 30px;
    overflow: hidden;
  }
  .header__call {
    padding: 5px 15px;
    font-size: 1rem;
  }
  .header__call svg {
    display: none;
  }
}

.logo {
  display: inline-block;
}
.page__networks {
  padding: 207px 0 82px;
  background: url(../img/header-bg.jpeg) center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5019607843);
  background-blend-mode: color;
}
.page__technique {
  padding: 82px 0 191px;
  background: url(../img/parallax-bg.jpeg) center/cover no-repeat fixed;
}
.page__clients {
  padding: 172px 0 0;
  background: url(../img/header-bg.jpeg) center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5019607843);
  background-blend-mode: color;
}

.networks__container > *:not(:last-child) {
  margin-bottom: 41px;
}
.items-network {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 468px;
  gap: 30px;
}
.items-network__item {
  position: relative;
  grid-column: span 2;
}
.items-network__item--big {
  grid-column: span 3;
}
.items-network__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}
.items-network__name {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  font-weight: 700;
  line-height: 140%;
}
@media screen and (max-width: 1024px) {
  .items-network {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
  }
  .items-network__item--big {
    grid-column: span 2;
  }
  .items-network__item--big:last-child {
    grid-column: span 4;
  }
}
@media screen and (max-width: 640px) {
  .items-network {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 277px;
  }
}
@media screen and (max-width: 500px) {
  .items-network {
    grid-template-columns: repeat(2, 1fr);
  }
  .items-network__item--big:last-child {
    grid-column: span 2;
  }
}

.technique__title {
  margin-bottom: 94px;
}
.technique-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 1000px;
  gap: 30px;
}
@media screen and (max-width: 1500px) {
  .technique-cards {
    max-height: 1500px;
  }
  .technique-cards .technique-cards__item {
    max-width: calc(50% - 15px);
  }
}
@media screen and (max-width: 769px) {
  .technique-cards {
    max-height: 100%;
  }
  .technique-cards .technique-cards__item {
    max-height: 277px;
    max-width: 100%;
  }
}
.technique-cards__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.technique-cards__name {
  position: absolute;
  z-index: 1;
  left: 52px;
  top: 44px;
  font-weight: 500;
  line-height: 140%;
  -webkit-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.technique-cards__name > span {
  display: block;
}
.technique-cards__name > span:nth-of-type(2) {
  font-weight: 700;
}
.technique-cards__item {
  max-width: 467px;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.technique-cards__item:nth-child(1), .technique-cards__item:nth-child(6) {
  height: 313px;
}
.technique-cards__item:nth-child(2) {
  height: 560px;
}
.technique-cards__item:nth-child(3) {
  height: 439px;
}
.technique-cards__item:nth-child(4) {
  height: 435px;
}
.technique-cards__item:nth-child(5) {
  height: 255px;
}
.technique-cards__item:nth-child(7) {
  height: 277px;
}
.technique-cards__item:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.technique-cards__item:hover .technique-cards__name {
  font-size: 0;
}

.clients__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 61px;
}
@media screen and (max-width: 810px) {
  .clients__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 30px;
  }
}
.clients__button {
  display: inline-block;
  position: relative;
  font-family: "Circe", sans-serif;
  font-size: 1.125rem;
  line-height: 167%;
  color: #E4B564;
  padding: 10px 25px;
  border: 1px solid #E4B564;
  background: transparent;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.clients__button:hover {
  color: #fff;
  background: #E4B564;
}
.clients-cards {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
}
.clients-cards__item {
  min-height: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 10px;
}
.clients-cards__item:hover .clients-cards__text {
  translate: 0 0;
  position: relative;
  opacity: 1;
}
.clients-cards__item:nth-child(1), .clients-cards__item:nth-child(6) {
  background: #634F2C;
}
.clients-cards__item:nth-child(2) {
  background: #E8D2AB;
}
.clients-cards__item:nth-child(3) {
  background: #E4B564;
}
.clients-cards__item:nth-child(4) {
  background: #635A4A;
}
.clients-cards__item:nth-child(5) {
  background: #B08C4D;
}
.clients-cards__img {
  margin-bottom: 16px;
}
.clients-cards__text {
  text-align: center;
  font-size: 1.375rem;
  line-height: 127%;
  max-width: 326px;
  position: absolute;
  opacity: 0;
  translate: 0 150px;
  -webkit-transition: translate 0.3s, opacity 0.3s;
  -o-transition: translate 0.3s, opacity 0.3s;
  transition: translate 0.3s, opacity 0.3s;
}
.clients-cards__descr {
  font-weight: 600;
}
@media screen and (max-width: 810px) {
  .clients-cards {
    grid-template: auto/repeat(2, 1fr);
  }
  .clients-cards__item {
    min-height: 300px;
  }
  .clients-cards__text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 769px) {
  .clients-cards__item {
    min-height: 300px;
  }
  .clients-cards__text {
    translate: 0 0;
    position: relative;
    opacity: 1;
  }
}
@media screen and (max-width: 640px) {
  .clients-cards {
    grid-template: auto/repeat(1, 1fr);
  }
  .clients-cards__item {
    min-height: 277px;
  }
  .clients-cards__text {
    font-size: 1rem;
  }
}

footer {
  height: 239px;
  background: #171717;
}