@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$main-font: 'Ubuntu',
sans-serif;
$primary-text-color: #434343;
$light-text-color: #fff;
$accent-color-light: #3CB878;
$accent-color-dark: #01813F;

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: $main-font;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 100%;
    color: $primary-text-color;

    // @media screen and (max-width: 900px) {
    //     font-size: 0.875rem;
    //     line-height: 171%;
    //     overflow: auto;
    // }

    >main {
        flex: 1 1 auto;
    }
}

[class*="__container"] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1208px;
    box-sizing: content-box;
}

#theme {
    padding: 5px;
    background-color: #ccc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #222;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -40px;
}


// ==================================================================


.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;

    // .header__container
    &__container {
        position: relative;
    }

    // .header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        padding: 18px 0;
    }

    // .header__logo
    &__logo {
        color: $light-text-color;
        font-size: 1.375rem;
        font-weight: 700;
        margin-right: auto;
        transition: color .3s;

        &:hover {
            color: $accent-color-light;
        }
    }

    // .header__nav
    &__nav:not(:last-child) {
        margin-right: 25px;
    }

    // .header__log-in
    &__log-in {}
}

.nav {

    // .nav__list
    &__list {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    // .nav__item
    &__item {}

    // .nav__link
    &__link path {
        transition: fill .3s;
    }

    &__link:hover path {
        fill: $accent-color-light;
    }
}

.log-in {
    color: $light-text-color;
    position: relative;
    padding-left: 28px;

    &:before {
        content: '';
        width: 1px;
        height: 19px;
        background: rgba(255, 255, 255, 0.9);
        opacity: 0.5;
        position: absolute;
        left: 0;
    }

    // .log-in__link
    &__link {
        transition: color .3s;
    }

    &__link:hover {
        color: $accent-color-light;
    }
}


// ==================================================================


.page {
    background: url('../img/bg.jpg') center / cover no-repeat;
    
    // .page__container
    &__container {}
    
    // .page__wrapper
    &__wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    // .page__form
    &__form {
        max-width: 444px;
        padding: 31px 60px 38px;
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    }
}

.sign-up-form {
    position: relative;

    // .sign-up-form__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        row-gap: 16px;
        margin-bottom: 32px;
    }

    // .sign-up-form__title
    &__title {
        font-size: 1.25rem;
    }

    // .sign-up-form__link
    &__link {
        color: $accent-color-light;
        transition: color .3s;

        &:hover {
            color: $accent-color-dark;
            text-decoration: underline;
        }
    }

    // .sign-up-form__buttons
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    // .sign-up-form__social
    &__social {
        padding: 9px 20px 9px 16px;
        border-radius: 5px;
        color: $light-text-color;
        flex: 0 1 48.75%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        transition: background-color .3s;

        &::before {
            content: '';
            width: 1px;
            height: 28px;
            background: #2B0D09;
            opacity: 0.1;
            margin-right: 18px;
        }

        &--facebook {
            background: #305DB8 url('../img/facebook.svg') 16px center / 24px 24px no-repeat;

            &:hover {
                background: #022263 url('../img/facebook.svg') 16px center / 24px 24px no-repeat;
            }
        }

        &--google {
            background: #DF4A32 url('../img/google.svg') 16px center / 30px 30px no-repeat;

            &::before {
                margin-right: 30px;
            }

            &:hover {
                background: #AB1F09 url('../img/google.svg') 16px center / 30px 30px no-repeat;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        }
    }

    // .sign-up-form__input
    &__input {
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        width: 100%;
        padding: 13px 20px;
        transition: box-shadow .3s;

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        &:last-of-type {
            margin-bottom: 12px;
        }

        &::placeholder {
            color: #BEBEBE;
        }

        &:focus {
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
            border-radius: 4px;
            outline: none;
        }
    }

    // .sign-up-form__fieldset
    &__fieldset {}

    // .sign-up-form__legent
    &__legent {
        text-align: center;
        color: #848484;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1px;
        margin-bottom: 11px;

        &::before,
        &::after {
            display: inline-block;
            content: '';
            height: 1px;
            width: 100%;
            background: #F2F2F2;
        }
    }

    // .sign-up-form__label
    &__label {
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid #F2F2F2;
            display: inline-block;
            margin-right: 8px;
        }

        .sign-up-form__link {
            margin-left: 3px;
        }

        &:has(.sign-up-form__checkbox:checked) {
            &::before {
                background: url('../img/checked.svg') center center / 14px 14px no-repeat;
            }
        }

        &:has(.sign-up-form__checkbox:focus) {
            &::before {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

    }

    // .sign-up-form__checkbox
    &__checkbox {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    // .sign-up-form__submit
    &__submit {
        width: 100%;
        padding: 16px;
        color: #FFFFFF;
        background: rgba(60, 184, 120, 0.8);
        border-radius: 4px;
        transition: background-color .3s;

        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            background: #01813F;
        }
    }

    &::before {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        left: 0;
        top: 29px;
        background: $accent-color-light;
    }
}