@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$main-font: 'Roboto',
sans-serif;
;
$primary-text-color: #f5e106;

.wrapper {
    height: 100vh;
    overflow: hidden;
    font-family: $main-font;
    color: $primary-text-color;
    font-size: 48px;
    background: #252525;
}

[class*="__container"] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    box-sizing: content-box;
}


// ==================================================================

.wrapper__inner {
    transform: perspective(300px) rotateX(20deg);
}

.wrapper__text {
    font-family: $main-font;
    letter-spacing: 15px;
    transform: rotateX(30deg);
    animation: fly 30s linear infinite forwards;
    line-height: 120%;
}

.text {
    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &--bold {
        font-weight: bold;
        text-align: center;
    }
}

@keyframes fly {
    0% {
        transform: translateY(90%);
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(-150%);
        opacity: 0;
    }

}