//====================================================================================================

.footer {
    background-color: #000;
    color: $textColorFooter;
    padding: rem(39) 0 rem(47);

    // .footer__container
    &__container {
        text-align: center;
        font-size: rem(12);
        line-height: rem(20);
    }

    // .footer__title
    &__title {
        color: $textColorFooterTitle;
        font-size: rem(14);
        margin-bottom: rem(5);
 
        &:after {
            content: '-';
            margin-left: rem(5);
        }
    }

    // .footer__text
    &__text {
        margin: 0 auto rem(22);
        max-width: rem(303);

        &--desktop {
            display: none;
        }
    }

    // .footer__social
    &__social {
        margin-bottom: rem(20);
    }

    // .footer__contacts
    &__contacts {}
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5);

    // .social__link
    &__link {
        width: rem(34);
        height: rem(34);
        border-radius: 50%;
        outline: 2px solid;
        outline-offset: -2px;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-color .3s;
    }

    // .social__link--rss
    &__link--rss {
        background-image: url("../img/content/icons/rss-icon.png");
        outline-color: #F8902E;

        &:hover {
            background-color: #f8902e86;
        }
    }

    // .social__link--facebook
    &__link--facebook {
        background-image: url("../img/content/icons/facebook-icon.png");
        outline-color: #39599F;

        &:hover {
            background-color: #39599F86;
        }
    }

    // .social__link--twitter
    &__link--twitter {
        background-image: url("../img/content/icons/twitter-icon.png");
        outline-color: #45B0E3;

        &:hover {
            background-color: #45B0E386;
        }
    }

    // .social__link--dribbble
    &__link--dribbble {
        background-image: url("../img/content/icons/dribbble-icon.png");
        outline-color: #D97AB0;

        &:hover {
            background-color: #D97AB086;
        }
    }

    // .social__link--pinterest
    &__link--pinterest {
        background-image: url("../img/content/icons/pinterest-icon.png");
        outline-color: #CC212C;

        &:hover {
            background-color: #CC212C86;
        }
    }
}

.contacts {
    margin: 0 auto;
    max-width: rem(220);

    &>*:not(:last-child)::after {
        content: '/';
        margin-left: rem(12);
    }

    &>*:not(:last-child) {
        margin-right: rem(10);
    }

    & &__address,
    & &__phone,
    & &__email {
        transition: color .3s;
        white-space: nowrap;
        font-size: rem(14);
        line-height: rem(24);
    }

    &>*:hover {
        color: $textColorHover;
    }

    &>*::after,
    &>*:hover::after {
        color: $textColorFooter;
    }

    // .contacts__address
    &__address {}

    // .contacts__phone
    &__phone {}

    // .contacts__email
    &__email {}
}

//====================================================================================================