//====================================================================================================

.header {
    padding: rem(23) 0;
    background-color: $colorMainBright;
    // position: sticky;
    // top: 0;

    // .header__container
    &__container {
        position: relative;
    }

    // .header__nav
    &__nav {
        z-index: 5;
        position: absolute;
        top: 0%;
        right: $containerPadXS;
    }

    // .header__burger
    &__burger {}
}

.nav {
    width: rem(182);
    background-color: #F5F5F5;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, top .3s;

    &.nav--open {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }

    // .nav__list
    &__list {}

    // .nav__item
    &__item {}

    // .nav__link
    &__link {
        display: block;
        text-transform: uppercase;
        color: $textColorTitle;
        letter-spacing: 1.1px;
        font-size: rem(11);
        transition: color .3s;
        padding: rem(5) rem(13) rem(3);

        &.nav__link--active {
            color: $textColorHover;
        }

        &:active {
            background-color: $bgMenuActive;
        }
    }
}

.burger {
    display: block;
    position: relative;
    width: rem(44);
    height: rem(37);
    margin-left: auto;
    z-index: 5;
    background-color: $colorMainDark;

    // .burger__lines
    &__lines,
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: rem(17);
        height: rem(2);
        background-color: $colorMainBright;
        transition: all 0.3s ease 0s;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        transform: translate(-50%, -4px);
    }

    &::after {
        transform: translate(-50%, 4px);
    }

    &.burger--active {

        .burger__lines {
            width: 0;
        }

        &::before {
            transform: translate(-50%, 0) rotate(-45deg);
        }

        &::after {
            transform: translate(-50%, 0) rotate(45deg);
        }
    }
}

// .header {
//     padding: rem(45) 0 rem(50);
//     background-color: #ffffffb8;
//     backdrop-filter: blur(10px);
//     position: sticky;
//     top: 0;

//     // .header__container
//     &__container {}

//     // .header__nav
//     &__nav {}

//     // .header__burger
//     &__burger {
//         display: none;
//     }
// }

// .nav {

//     // .nav__list
//     &__list {
//         @include flexCenter;
//         gap: rem(68);
//     }

//     // .nav__item
//     &__item {}

//     // .nav__link
//     &__link {
//         text-transform: uppercase;
//         color: $textColorTitle;
//         letter-spacing: 1.1px;
//         font-size: rem(11);
//         transition: color .3s;

//         &:hover {
//             color: $textColorHover;
//         }
//     }
// }

// .burger {

//     // .burger__lines
//     &__lines {}
// }


//====================================================================================================