.sections {

    // .sections__intro
    &__intro {}

    // .sections__posts
    &__posts {
        padding: rem(38) 0 rem(43);
    }

    // .sections__instagram
    &__instagram {
        padding: rem(37) 0 rem(42);
    }
}

//====================================================================================================

.intro {

    // .intro__container
    &__container {}

    // .intro__img
    &__img {
        width: 100%;
        max-height: rem(550);
    }
}

//====================================================================================================

.posts {

    // .posts__container
    &__container {}

    // .posts__title
    &__title {
        margin-bottom: rem(23);
    }

    // .posts__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        max-width: rem(235);
    }

    // .posts__item
    &__item {

        @for $i from 4 through 100 {
            &:nth-child(#{$i}) {
                display: none;
            }
        }
    }
}

.post-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: rem(11);

    // .post-block__pic
    &__pic {
        width: rem(160);
        height: rem(140);
        flex: 0 0 rem(140);
        overflow: hidden;
    }

    // .post-block__img
    &__img {
        @include imgCover;
        transition: scale .5s;
    }

    &:hover &__img {
        scale: 1.2;
    }

    // .post-block__content
    &__content {}

    // .post-block__title
    &__title {
        font-weight: 700;
        line-height: rem(30);
        color: $textColorTitle;
        text-transform: capitalize;
        @include mbNotLast(1);
        transition: color .3s;
    }

    &:hover &__title {
        color: $textColorHover;
    }

    // .post-block__meta
    &__meta {
        display: flex;
        // @include mbNotLast(13);

        &>* {
            font-weight: 400;
            font-size: rem(11);
            line-height: rem(16);
            color: $textColorSecondary;
        }

        &>*:not(:last-child) {
            margin-right: rem(8);
        }

        &>*:not(:last-child)::after {
            content: '/';
            margin-left: rem(8);
        }
    }

    // .post-block__author
    &__author {}

    // .post-block__author--name
    &__author--name {}

    // .post-block__comments
    &__comments {}

    // .post-block__comments--number
    &__comments--number {}

    // .post-block__text
    &__text {
        display: none;
    }
}

//====================================================================================================

.instagram {

    // .instagram__container
    &__container {}

    // .instagram__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(12);
    }

    // .instagram__title
    &__title {
        &--count {
            display: none;
        }
    }

    // .instagram__account-link
    &__account-link {
        display: none;
    }

    // .instagram__list
    &__list {
        max-width: rem(301);
        max-height: rem(301);
    }


    // .instagram__item
    &__item {
        overflow: hidden;

        @for $i from 2 through 10 {
            &:nth-child(#{$i}) {
                display: none;
            }
        }
    }

    // .instagram__img
    &__img {
        @include imgCover;
        transition: filter .3s, scale .5s;
    }

    &__list:has(>*:hover) &__img {
        filter: brightness(50%);
    }

    &__list>&__item:hover &__img {
        filter: brightness(100%);
        scale: 1.1
    }
}