@use "sass:math";

// Imports fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Imports base files (reset, mixins, vars)
@import "./base/_base";

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: $fontFamilyMain;
    font-size: $fontSizeMain;
    color: $textColorBase;
    font-weight: 400;
    line-height: rem(22);

    @supports (overflow: clip) {
        overflow: clip;
    }

    >main {
        flex: 1 1 auto;
    }

    // Fix for sliders
    >* {
        min-width: 0;
    }
}

//====================================================================================================

[class*="__container"] {
    max-width: calc(rem($containerWidthMain) + rem($containerPaddingMain) * 2);
    margin: 0 auto;
    padding: 0 rem($containerPaddingMain);
}


//====================================================================================================

.title {
    font-weight: 700;
    color: $textColorTitle;
    text-transform: uppercase;

    &:before {
        content: '-';
        margin-right: rem(4);
    }
}

//====================================================================================================

// Import styles for parts
@import "_header";
@import "_footer";

// Import styles for pages
@import "index";

// Import media quaries
@import "./media/_media";