.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.slider {
  position: relative;
}
.slider__button {
  position: absolute;
  background-color: #cecece;
  padding: 10px;
  border-radius: 10px;
  min-width: 80px;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 2px 10px #000;
          box-shadow: 0 2px 10px #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider__button:hover {
  -webkit-box-shadow: 0 1px 5px #000;
          box-shadow: 0 1px 5px #000;
}
.slider__button:active {
  background-color: #b0b0b0;
}
.slider__wrapper {
  overflow: hidden;
  width: 250px;
}
.slider__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-prev {
  left: -90px;
}

.btn-next {
  right: -90px;
}

.images {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.images__item {
  width: 250px;
}
.images__pic {
  margin: 0 25px;
}