@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  color: #373737;
  line-height: 162%;
  font-family: "Montserrat", sans-serif;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1175px;
  padding: 0 15px;
  position: relative;
}

.header__nav {
  padding: 31px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #FF0000;
  position: relative;
}
.nav__item:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background: #FF0000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__item:hover:before {
  width: 100%;
}
.nav__item:active {
  color: #af0000;
}
.nav__item:not(:last-child) {
  margin-right: 72px;
}
.nav__item:nth-last-child(2) {
  margin-right: 50px;
}
.main {
  background: rgba(0, 0, 0, 0.0001);
}
.main__pic {
  margin-bottom: 50px;
}
.main__img {
  width: 100%;
  height: auto;
}
.main__title {
  margin-bottom: 38px;
}
.main__text {
  margin-bottom: 74px;
}
.main__btn {
  text-align: center;
  margin-bottom: 42px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
}

.btn__link {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #FFF;
  padding: 18px 43px;
  background-color: #FF0000;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn__link:hover {
  color: #FF0000;
  background-color: transparent;
  border: 1px solid #FF0000;
}
.btn__link:active {
  -webkit-box-shadow: inset 0 0 20px #FF0000;
          box-shadow: inset 0 0 20px #FF0000;
}

.text__paragraph {
  letter-spacing: 2.4px;
  text-align: center;
}
.text__paragraph:not(:last-child) {
  margin-bottom: 31px;
}

.footer {
  padding: 49px 0 38px;
}
.footer__copyright {
  text-align: right;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4px;
  padding: 0 38px;
}