* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label:has(.price-input) {
    position: relative;
    min-width: 300px;
}

.price-input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    -moz-appearance: textfield;
}

.price-input.valid {
    color: green;
}

.price-span,
.price-span-error {
    position: absolute;
    left: 0;
    top: -45px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-span-error {
    color: red;
    top: 35px;
    border: none;
}

.cancel {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.cancel::after {
    content: '';
    position: absolute;
    height: 11px;
    width: 1px;
    background-color: rgb(255, 0, 0);
    transform: rotate(45deg);
    right: 17px;
    top: 9px;
}

.cancel::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 11px;
    background-color: rgb(255, 0, 0);
    right: 12px;
    top: 14px;
    transform: rotate(45deg);
}

.price-input.focus {
    outline: 1px solid green;
    box-shadow: 0 0 10px green;
}

.price-input.error {
    outline: 1px solid red;
    box-shadow: 0 0 10px red;
}