.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.slider {
    position: relative;

    // .slider__button
    &__button {
        position: absolute;
        background-color: #cecece;
        padding: 10px;
        border-radius: 10px;
        min-width: 80px;
        top: 50%;
        z-index: 10;
        transform: translateY(-50%);
        box-shadow: 0 2px 10px #000;
        transition: all .3s;

        &:hover {
            box-shadow: 0 1px 5px #000;
        }

        &:active {
            background-color: #b0b0b0;
        }
    }

    // .slider__wrapper
    &__wrapper {
        overflow: hidden;
        width: 250px;
    }

    // .slider__images
    &__images {
        display: flex;
    }
}

.btn-prev {
    left: -90px;
}

.btn-next {
    right: -90px;
}

.images {
    transform: translateX(-100%);

    // .images__item
    &__item {
        width: 250px;
    }

    // .images__pic
    &__pic {
        margin: 0 25px;

    }
}