@import "_reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "_loading";

$text-color-main: #e3e3e3;
$text-color-secondary: #707070;
$bg-color: #272727;

#root {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

body {
    background: linear-gradient(to right, #0b042c, #0f0f67, #0b042c);
    font-family: 'Roboto', sans-serif;
}

body:has(#modal.active) {
    overflow: hidden;
}

#modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: linear-gradient(to right, #0b042c, #0f0f67, #0b042c);
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 500px;

    &__input {
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 5px 5px 15px #000;
    }
    
    &__textarea {
        width: 100%;
        height: 10rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        resize: none;
        box-shadow: 5px 5px 15px #000;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__btn {
        padding: 1rem;
        color: $text-color-main;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: .8rem;
        box-shadow: 3px 3px 15px #000;
        transition: box-shadow .3s;
        min-width: 100px;

        &:hover {
            box-shadow: 3px 3px 2px #000;
        }

        &:active {
            box-shadow: 0px 0px 0px #000;
        }

        &--add,
        &--save {
            background: $text-color-secondary;
        }

        &--cancel {
            background: $bg-color;
        }
    }
}


#addCard {
    position: sticky;
    top: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    color: $text-color-main;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .8rem;
    box-shadow: 3px 3px 15px #000;
    background: $bg-color;
    transition: box-shadow .3s, background-color .3s;

    &:hover {
        box-shadow: 3px 3px 2px #000;
        background: $text-color-secondary;
    }

    &:active {
        box-shadow: 0px 0px 0px #000;
    }
}

.card {
    background: $bg-color;
    box-shadow: 8px 6px 10px #000;
    padding: 1rem;
    border-radius: .8rem;
    color: $text-color-main;

    &>*:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__author {}

    &__name {
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__nickname {
        color: $text-color-secondary;

        &::before {
            content: '@';
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__edit,
    &__del {
        transition: background-color .3s, color .3s;
    }

    &__edit {
        font-weight: bold;
        transition: transform .3s;
        transform-origin: center;
        text-shadow: 2px 4px 3px #000;

        &:hover {
            transform: rotate(-30deg);
        }
    }

    &__del {
        height: 1.3rem;
        width: 1.3rem;
        background: $text-color-secondary;
        border-radius: 50%;
        position: relative;
        box-shadow: 3px 3px 15px #000;

        &:hover {
            background: red;

            &::before {
                transform: translate(-50%, -50%) rotate(135deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        &::before,
        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            height: 3px;
            width: 70%;
            background-color: $text-color-main;
            transition: transform .3s;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__email {
        color: $text-color-secondary;
    }

    &__title,
    &__body {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__body {
        font-size: 1.2rem;
        line-height: 150%;
    }
}