<footer class="footer">
    <div class="footer__container">
        <h2 class="footer__title title">get in touch with us</h2>
        <div class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span class="footer__text--desktop">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></div>
        <div class="footer__social social">
            <a class="social__link social__link--rss" href="#"></a>
            <a class="social__link social__link--facebook" href="#"></a>
            <a class="social__link social__link--twitter" href="#"></a>
            <a class="social__link social__link--dribbble" href="#"></a>
            <a class="social__link social__link--pinterest" href="#"></a>
        </div>
        <div class="footer__contacts contacts">
            <a class="contacts__address" href="#">Moonshine St. 14-05 Light City</a>
            <a class="contacts__phone" href="tel:+38000000000">T. +00 (123) 456 78 90</a>
            <a class="contacts__email" href="mailto:test@gmail.com">first.last@email.com</a>
        </div>
    </div>
</footer>