<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://d3j0t7vrtr92dk.cloudfront.net/danit/1624626442_favicon.png" rel="shortcut icon">
    <title>@@title</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>