$containerWidthMain: 1170;
$containerPaddingMain: 86;

$fontFamilyMain: 'Roboto',
sans-serif;
$fontSizeMain: rem(14);

$textColorTitle: #4E4E4E;
$textColorBase: #5C5C5C;
$textColorSecondary: #7C7C7C;
$textColorHover: #57A4A4;
$textColorFooter: #B9B9B9;
$textColorFooterTitle: #FEFEFE;
$colorMainBright: #FFF;
$colorMainDark: #000;
$bgMenuActive: #E5E5E5;
$bgSectionInstagram:#00000008;

$small: '480px';
$middle: '768px';
$large: '940px';
$xlarge: $containerWidthMain+'px';

$containerPadXS: rem(26);
$containerPadS: rem(35);
$containerPadM: rem(50);
$containerPadL: rem(86);