@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
    line-height: 133%;
    font-family: 'Roboto', sans-serif;
    padding: 63px 0 30px;

    >main {
        flex: 1 1 auto;
    }

    >* {
        min-width: 0;
    }
}

[class*='__container'] {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
    box-sizing: content-box;
}

.header {
    margin-bottom: 48px;

    // .header__container
    &__container {}

    // .header__logo
    &__logo {
        margin-bottom: 38px;
    }

    // .header__nav
    &__nav {}
}

.logo {

    // .logo__text
    &__text {
        font-size: 80px;
        line-height: 94px;
        color: #000000;
    }

    // .logo__text-mod
    &__text-mod {
        color: #4BCAFF;
    }
}

.nav-header {

    // .nav-header__list
    &__list {
        display: flex;
        justify-content: center;
        background: #35444F;
    }

    // .nav-header__item
    &__item {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        border-left: 1px solid #fff;
        transition: background-color .3s;

        &:hover {
            background-color: #222F3A;
        }
    }

    &__item:last-child {
        border-right: 1px solid #fff;
    }

    // .nav-header__link
    &__link {
        padding: 26px 38px 19px;
        display: block;
    }
}



.main {
    margin-bottom: 51px;

    // .main__container
    &__container {}

    // .main__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    // .main__aside
    &__aside {
        flex: 0 2 344px;
    }

    // .main__page
    &__page {
        flex: 0 1 885px;
    }
}

.aside {

    // .aside__menu
    &__menu {
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
    }

    // .aside__item
    &__item {
        font-size: 27px;
        line-height: 100%;
    }

    // .aside__link
    &__link {
        color: #485863;
        display: block;
        padding: 26px 26px 26px 44px;
        background: transparent;
        transition: background-color .3s, padding .3s;
    }

    &__link:hover {
        background-color: #DBDBDB;
        padding: 26px 26px 26px 72px;
        color: #000;
    }
}

.page {

    // .page__img
    &__img {
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 37px;
        height: 529px;
    }

    // .page__pic
    &__pic {
    }

    // .page__content
    &__content {}

    // .page__text
    &__text:not(:last-child) {
        margin-bottom: 34px;
    }
}



.footer {

    // .footer__container
    &__container {}

    // .footer__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        background: rgba(99, 105, 110, 0.48);
    }

    // .footer__menu
    &__menu {
        display: flex;
        gap: 30px;
    }

    // .footer__item
    &__item {
        text-align: center;
        display: flex;
        align-items: center;
    }

    // .footer__link
    &__link {
        color: #0C1927;
        line-height: 100%;
        position: relative;
        transition: color .3s;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            width: 0;
            height: 1px;
            background-color: #3181A6;
            transition: width .3s;
        }

        &:hover {
            color: #3181A6;

            &::after {
                width: 100%;
            }
        }
    }
}