.wrapper {
  color: #ccc;
}

.header {
  background: rgba(0, 0, 0, 0.7);
  color: #ccc;
}

#theme {
  background-color: #222;
  color: #ccc;
}

.header__logo {
  color: #ccc;
}

.nav__link path {
  fill: #ccc;
}

.log-in {
  color: #ccc;
}

.page__form {
  background: #222222;
}

.sign-up-form__input {
  border: 1px solid #555555;
  background: #555555;
  color: #fff;
}