@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 100%;
  color: #434343;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#theme {
  padding: 5px;
  background-color: #ccc;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #222;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -40px;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
}
.header__container {
  position: relative;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}
.header__logo {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 700;
  margin-right: auto;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.header__logo:hover {
  color: #3CB878;
}
.header__nav:not(:last-child) {
  margin-right: 25px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.nav__link path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.nav__link:hover path {
  fill: #3CB878;
}

.log-in {
  color: #fff;
  position: relative;
  padding-left: 28px;
}
.log-in:before {
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  position: absolute;
  left: 0;
}
.log-in__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.log-in__link:hover {
  color: #3CB878;
}

.page {
  background: url("../img/bg.jpg") center/cover no-repeat;
}
.page__wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__form {
  max-width: 444px;
  padding: 31px 60px 38px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-up-form {
  position: relative;
}
.sign-up-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
  margin-bottom: 32px;
}
.sign-up-form__title {
  font-size: 1.25rem;
}
.sign-up-form__link {
  color: #3CB878;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.sign-up-form__link:hover {
  color: #01813F;
  text-decoration: underline;
}
.sign-up-form__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sign-up-form__social {
  padding: 9px 20px 9px 16px;
  border-radius: 5px;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.75%;
          flex: 0 1 48.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.sign-up-form__social::before {
  content: "";
  width: 1px;
  height: 28px;
  background: #2B0D09;
  opacity: 0.1;
  margin-right: 18px;
}
.sign-up-form__social--facebook {
  background: #305DB8 url("../img/facebook.svg") 16px center/24px 24px no-repeat;
}
.sign-up-form__social--facebook:hover {
  background: #022263 url("../img/facebook.svg") 16px center/24px 24px no-repeat;
}
.sign-up-form__social--google {
  background: #DF4A32 url("../img/google.svg") 16px center/30px 30px no-repeat;
}
.sign-up-form__social--google::before {
  margin-right: 30px;
}
.sign-up-form__social--google:hover {
  background: #AB1F09 url("../img/google.svg") 16px center/30px 30px no-repeat;
}
.sign-up-form__social:focus {
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.sign-up-form__input {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 100%;
  padding: 13px 20px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.sign-up-form__input:not(:last-of-type) {
  margin-bottom: 15px;
}
.sign-up-form__input:last-of-type {
  margin-bottom: 12px;
}
.sign-up-form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.sign-up-form__input::-moz-placeholder {
  color: #BEBEBE;
}
.sign-up-form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.sign-up-form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.sign-up-form__input::placeholder {
  color: #BEBEBE;
}
.sign-up-form__input:focus {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.sign-up-form__legent {
  text-align: center;
  color: #848484;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
  margin-bottom: 11px;
}
.sign-up-form__legent::before, .sign-up-form__legent::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background: #F2F2F2;
}
.sign-up-form__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.sign-up-form__label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  display: inline-block;
  margin-right: 8px;
}
.sign-up-form__label .sign-up-form__link {
  margin-left: 3px;
}
.sign-up-form__label:has(.sign-up-form__checkbox:checked)::before {
  background: url("../img/checked.svg") center center/14px 14px no-repeat;
}
.sign-up-form__label:has(.sign-up-form__checkbox:focus)::before {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up-form__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.sign-up-form__submit {
  width: 100%;
  padding: 16px;
  color: #FFFFFF;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.sign-up-form__submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.sign-up-form__submit:hover {
  background: #01813F;
}
.sign-up-form::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  top: 29px;
  background: #3CB878;
}