body.lock {
    overflow: hidden;

    & .wrapper::after {
        opacity: .3;
        right: 0;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    color: $color-text-light-main;
    background: $color-text-light-main;

    >main {
        flex: 1 1 auto;
    }
    
    >* {
        min-width: 0;
    }
    
    &::after {
        position: absolute;
        top: 0;
        right: -100vw;
        content: '';
        width: 100%;
        height: 100%;
        background: $color-accent;
        opacity: 0;
        transition: opacity .3s;
    }
}

[class*="__container"] {
    margin: 0 auto;
    padding: 0 rem(15);
    max-width: 1160px;
    box-sizing: content-box;
}


// =================================================================
// =================================================================
// =================================================================


.title {
    font-size: rem(36);
    line-height: rem(40);
    color: $color-text-dark;
    position: relative;
    text-align: center;
    padding-bottom: rem(31);
    margin-bottom: rem(69);

    &::after,
    &::before {
        position: absolute;
        content: '';
        width: rem(75.5);
        height: rem(1);
        background: $color-accent;
        transform: translateX(-50%);
    }

    &::after {
        left: calc(50% - rem(6));
        bottom: rem(4);
    }

    &::before {
        left: calc(50% + rem(6));
        bottom: 0;
    }
}

.btn-link {
    display: inline-block;
    padding: rem(22) 0 rem(24);
    font-size: rem(15);
    font-weight: 700;
    text-transform: uppercase;
    min-width: rem(165);
    border-radius: rem(4);
    background-color: $color-accent;
    box-shadow: rem(0) rem(-5) $color-text-light-main;
    transition: transform .3s, box-shadow .3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: rem(0) rem(-2.5) $color-text-light-main;
    }

    &:active {
        transform: translateY(-5px);
        box-shadow: rem(0) rem(0) $color-text-light-main;
    }
}

.load-more {
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(24);
    text-transform: uppercase;
    color: $color-text-light-main;
    background: $color-accent;
    padding: rem(20) rem(18) rem(16) rem(54);
    border-radius: rem(4);
    position: relative;
    transition: box-shadow .3s;

    &::before,
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: rem(28);
        transform: translateY(-50%);
        width: rem(4);
        height: rem(16);
        background: $color-text-light-main;
        border-radius: rem(1);
    }

    &::after {
        transform: translateY(-50%) rotate(90deg);

    }

    &:hover {
        box-shadow: 0 2px 10px $color-accent;

        &::before {
            animation: scaleBefore .5s linear infinite;
        }

        &::after {
            animation: scaleAfter .5s linear infinite;
        }
    }
}

@keyframes scaleBefore {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-50%) scale(1.5);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scaleAfter {
    0% {
        transform: translateY(-50%) rotate(90deg);
    }

    50% {
        transform: translateY(-50%) scale(1.5) rotate(90deg);
    }

    100% {
        transform: translateY(-50%) rotate(90deg);
    }
}


.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: rem(4);
    z-index: 10;
    background: $background-darkest;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    animation: opacity .5s linear forwards;

    //.loading__dot
    &__dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        animation: move 500ms linear 0ms infinite;
        margin-right: 30px;

        &:first-child {
            position: absolute;
            left: 20%;
            animation: grow 500ms linear 0ms infinite;
        }

        &:last-child {
            position: absolute;
            right: 15%;
            margin-right: 0;
            animation: grow 500ms linear 0s infinite reverse;
        }
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(0px)
    }

    to {
        transform: translateX(45px)
    }
}