@use "sass:math";

@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}


// =================================================================
// =================================================================
// =================================================================


$color-accent: #18CFAB;
$color-text-light-main: #fff;
$color-text-dark: #4E4E4E;
$color-text-grey: #777777;
$color-text-light-grey: #717171;
$background-darkest: #1C2A33;
$background-dark: #22353F;
$background-filter: #E9EDEF;
$background-blog: #203E38;
$gallery-btn: #14B9D5;
$color-text-testimonial: #BBBBBB;

// =================================================================
// =================================================================
// =================================================================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "_reset";
@import "_common";
@import "_header";
@import "_footer";
@import "_page";
@import "_media-header";
@import "_media-common";
@import "_media-page";