body {
    box-sizing: border-box;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    height: 30px;
    width: 30px;
    border: 5px solid rgb(105, 4, 4);
}

.black {
    background-color: black;
}