.image-to-show {
    width: 400px;
    height: 400px;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.image-to-show.active {
    /* opacity: 1;
    visibility: visible; */
    display: block;
    animation: fadeIn .5s linear forwards;
}

.image-to-show.fadeOut {
    animation: fadeOut .5s linear forwards;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

button:not(:last-child) {
    margin-right: 25px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        display: block;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        /* display: block; */

    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}