$bg-main-1: #E74C3C;
$bg-header-1: #cf4535;
$bg-btn-1: #c74334;
$bg-btn-hover-1: #9a3429;
$bg-btn-active-1: #92271b;
$color-main-1: #fff;

$bg-main-2: #3c78e7;
$bg-header-2: #356dcf;
$bg-btn-2: #3454c7;
$bg-btn-hover-2: #2648c4;
$bg-btn-active-2: #1b379f;
$color-main-2: #dedede;

@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        scale: 50%;
    }

    to {
        scale: 100%;
    }
}

.modal {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000050;
    animation: showModal .3s;

    // .modal__content
    &__content {
        border-radius: 5px;
        max-width: 480px;
        text-align: center;
        overflow: hidden;
        animation: scale .3s;
    }

    // .modal__header
    &__header {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .modal__title
    &__title {
        font-size: 20px;
        font-weight: 700;
        text-align-last: left;
    }

    // .modal__body
    &__body {
        padding: 25px;
        line-height: 170%;

        &>*:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    // .modal__btn
    &__btns {
        display: flex;
        justify-content: center;
        gap: 15px;

        &>button {
            border-radius: 5px;
            padding: 10px;
            min-width: 100px;
            transition: background-color .3s;
        }
    }
}

.modalID1 {

    // .modal__content
    .modal__content {
        background: $bg-main-1;
        color: $color-main-1;
    }

    // .modal__header
    .modal__header {
        background: $bg-header-1;
    }

    // .modal__btn
    .modal__btns {

        &>button {
            background: $bg-btn-1;

            &:hover {
                background: $bg-btn-hover-1;
            }

            &:active {
                background: $bg-btn-active-1;
            }
        }
    }
}

.modalID2 {

    // .modal__content
    .modal__content {
        background: $bg-main-2;
        color: $color-main-2;
    }

    // .modal__header
    .modal__header {
        background: $bg-header-2;
    }

    // .modal__btn
    .modal__btns {

        &>button {
            background: $bg-btn-2;

            &:hover {
                background: $bg-btn-hover-2;
            }

            &:active {
                background: $bg-btn-active-2;
            }
        }
    }
}

.close {
    width: 30px;
    height: 30px;
    position: relative;

    &::before,
    &::after {
        left: 0;
        top: 50%;
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background: #fff;
    }

    &::before {
        transform: rotate(45deg) translateY(-50%);
    }

    &::after {
        transform: rotate(-45deg) translateY(-50%);
    }
}