@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// ===============================================================================


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: url('../img/main-bg.jpg') center / cover no-repeat;

    >main {
        flex: 1 1 auto;
    }
}

[class*="__container"] {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1028px;
    box-sizing: content-box;
}


// ===============================================================================


.header {

    // .header__container
    &__container {}

    // .header__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 46px;
    }

    // .header__logo
    &__logo {}

    // .header__contacts
    &__contacts {}
}

.logo {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    &:hover {
        .logo__img path {
            fill: #F26522;
        }

        .logo__text {
            color: #F26522;
        }
    }

    // .logo__img
    &__img {
        width: 53px;
        height: 47px;

        path {
            transition: fill .3s;
        }
    }

    // .logo__text
    &__text {
        transition: color .3s;
        font-weight: 700;
    }

    // .logo__top
    &__top {
        display: block;
        line-height: 30px;
        font-size: 29px;
    }

    // .logo__bottom
    &__bottom {
        line-height: 21px;
        display: block;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 19px;
    line-height: 21px;

    // .contacts__email
    &__email {
        transition: color .3s;

        &:hover {
            color: #F26522;
        }
    }

    // .contacts__phone
    &__phone {
        transition: color .3s;

        &:hover {
            color: #F26522;
        }
    }
}


// ===============================================================================


.page {
    padding: 17px 0 33px;

    // .page__container
    &__container {}
}

.tours {
    display: grid;
    grid-template: auto / repeat(auto-fill, 304px);
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 37px;

    @media screen and (max-width: 959px) {
        justify-content: space-evenly;
    }

    // .tours__card
    &__card {}
}

.card-tour {

    // .card-tour__content
    &__content {
        max-width: 100%;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 2px;
        height: 224px;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #000 0%, #fff 100%);
            // background: linear-gradient(0deg, transparent 0%, #ffffff 100%);
        }
    }

    // .card-tour__img
    &__img {
        padding: 2px;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // .card-tour__pic
    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .card-tour__info
    &__info {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 7px 16px 12px;
        background: #F26522;
        color: #FFFFFF;
        translate: -50% 0;
        left: 50%;
        bottom: -55px;
        width: calc(100% - 4px);
        transition: bottom .3s;
    }

    // .card-tour__price
    &__price {
        line-height: 14px;
    }

    // .card-tour__prefix
    &__prefix {
        font-size: 10px;
        margin-bottom: 8px;
    }

    // .card-tour__sum
    &__sum {
        font-size: 20px;
    }

    // .card-tour__details
    &__details {
        font-size: 14px;
        padding-right: 21px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 5px;
            height: 10px;
            background: url('../img/arrow.svg') center no-repeat;
        }
    }

    // .card-tour__title
    &__title {
        text-align: center;
        transition: color .3s;
    }

    &:hover {

        .card-tour__info {
            bottom: 0;
        }

        .card-tour__title {
            color: #F26522;
        }
    }
}


// ===============================================================================


.footer {
    padding: 15px;

    // .footer__container
    &__container {}

    // .footer__copyrights
    &__copyrights {
        text-align: center;
        font-size: 12px;
        line-height: 21px;
    }
}