@media (min-width: $small) {
    .footer {
        padding: rem(55) 0 rem(56);

        // .footer__container
        &__container {
            // padding: 0 rem(15);
            font-size: rem(16);
            line-height: rem(28);
        }

        // .footer__title
        &__title {
            font-size: rem(16);
            margin-bottom: rem(13);
        }

        // .footer__text
        &__text {
            max-width: rem(684);
            margin: 0 auto rem(29);

            &--desktop {
                display: inline;
            }
        }

        // .footer__social
        &__social {
            margin-bottom: rem(34);
        }
    }

    .contacts {
        max-width: 100%;

        & &__address,
        & &__phone,
        & &__email {
            font-size: rem(16);
            line-height: rem(26);
        }
    }
}
@media (min-width: $xlarge) {
    .footer {
        padding: rem(64ww) 0 rem(70);
    }
}