@media (min-width: $small) {
    .header {

        // .header__nav
        &__nav {
            right: $containerPadS;
        }
    }

    .nav {

        // .nav__link
        &__link {
            text-transform: uppercase;
            color: $textColorTitle;
            letter-spacing: 1.1px;
            font-size: rem(11);
            transition: color .3s;
        }
    }
}

@media (min-width: $middle) {
    .header {
        padding: rem(41) 0 rem(43);

        // .header__nav
        &__nav {
            position: static;
            visibility: visible;
            opacity: 1;
        }

        // .header__burger
        &__burger {
            display: none;
        }
    }

    .nav {
        width: 100%;
        background: none;

        // .nav__list
        &__list {
            @include flexCenter;
            flex-wrap: wrap;
            gap: rem(34);
        }

        // .nav__link
        &__link {
            padding: 0;

            &:hover {
                color: $textColorHover;
            }
        }
    }
}

@media (min-width: $xlarge) {
    .header {
        padding: rem(45) 0 rem(50);
    }

    .nav {

        // .nav__list
        &__list {
            gap: rem(68);
        }
    }
}