@media (min-width: $small) {

    .sections {

        // .sections__posts
        &__posts {
            padding: rem(56) 0 rem(60);
        }

        // .sections__instagram
        &__instagram {
            padding: rem(47) 0 rem(49);
            background-color: $bgSectionInstagram;
        }
    }

    //====================================================================================================

    .posts {

        // .posts__title
        &__title {
            font-size: rem(16);
            margin-bottom: rem(24);
        }

        // .posts__list
        &__list {
            max-width: rem(560);
        }

        // .posts__item
        &__item {
            @for $i from 4 through 100 {
                &:nth-child(#{$i}) {
                    display: flex;
                }
            }
        }

    }

    .post-block {
        flex-direction: row;
        gap: rem(21);

        // .post-block__pic
        &__pic {
            flex: 0 0 rem(160);
        }

        // .post-block__title
        &__title {
            font-size: rem(16);
        }

        // .post-block__text
        &__text {
            display: block;
            font-size: rem(14);
            line-height: rem(26);
            color: $textColorBase;
        }

        // .post-block__meta
        &__meta {
            display: flex;
            @include mbNotLast(7);

            &>* {
                font-weight: 400;
                font-size: rem(12);
                line-height: rem(20);
            }
        }
    }

    .instagram {

        // .instagram__header
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(35);
        }

        // .instagram__title
        &__title {
            font-size: rem(16);

            &--no-count {
                display: none;
            }

            &--count {
                display: inline;
            }
        }

        // .instagram__list
        &__list {
            @include gridCards(2, 200px, 1fr, 0px, 10px);
            grid-template-rows: rem(250);
            max-width: 100%;
        }


        // .instagram__item
        &__item {
            display: block;

            @for $i from 1 through 2 {
                &:nth-child(#{$i}) {
                    display: block;
                }
            }
        }

        // .instagram__account-link
        &__account-link {
            display: block;
            font-weight: 700;
            font-size: rem(13);
            color: $textColorTitle;
            text-transform: uppercase;
            transition: color .3s;

            &:after {
                content: '-';
                margin-left: rem(3);
            }

            &:hover {
                color: $textColorHover;
            }
        }
    }

}

//====================================================================================================
//====================================================================================================
//====================================================================================================

@media (min-width: $middle) {
    .instagram {

        // .instagram__list
        &__list {
            @include gridCards(3, 200px, 1fr, 0px, 10px);
        }

        // .instagram__item
        &__item {

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }
}

//====================================================================================================
//====================================================================================================
//====================================================================================================


@media (min-width: $large) {


    .instagram {

        // .instagram__list
        &__list {
            @include gridCards(3, 200px, 1fr, 0px, 10px);
        }

        // .instagram__item
        &__item {

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }

}


//====================================================================================================
//====================================================================================================
//====================================================================================================


@media (min-width: $xlarge) {
    .sections {

        // .sections__posts
        &__posts {
            padding: rem(66) 0 rem(68);
        }

    }

    .posts {

        // .posts__list
        &__list {
            @include gridCards(2, 232px, 1fr, 32px, 50px);
            max-width: 100%;
        }

        // .posts__item
        &__item {
            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 4;
            }
        }
    }

    .post-block {

        // .post-block__title
        &__title {
            margin-top: rem(-2);
        }
    }

    .instagram {

        // .instagram__header
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: rem(24);
        }

        // .instagram__list
        &__list {
            @include gridCards(4, 200px, 1fr, 0px, 10px);
            grid-template-rows: rem(285);
        }

        // .instagram__item
        &__item {

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }

}