@media (max-width: $small) {
    [class*="__container"] {
        padding: 0 $containerPadXS;
    }
}

@media (min-width: $small) {
    [class*="__container"] {
        padding: 0 $containerPadS;
    }
}

@media (min-width: $middle) {
    [class*="__container"] {
        padding: 0 $containerPadM;
    }
}

@media (min-width: $large) {
    [class*="__container"] {
        padding: 0 $containerPadL;
    }
}

@media (min-width: $xlarge) {}

// Import media parts
@import '_header-media';
@import '_footer-media';
@import '_index-media';